
body{
    background-color: var(--color-bg);
    padding: 3.2rem 1.6rem;
}

.container{
    display: flex;
    flex-direction: column;
    gap: 3.2rem;
    width: 100%;
    /* background-color: rgba(100, 148, 237, 0.7); */
}

.header__container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo__title{
    font-family: var(--space);
    font-size: 2.6rem;
    font-weight: bold;
    text-align: left;
    color: var(--color-title);
}

.theme{
    display: flex;
    align-items: center;
    font-size: 1.3rem;
    text-align: right;
    font-weight: bold;
    gap: 1rem;
    line-height: 140%;
    letter-spacing: 2.5px;
    text-transform: uppercase;
    font-family: var(--space);
    color: var(--color-theme-text);
}


