
/* --- LIGHT THEME --- */
[data-theme="light"]{
    --color-bg: #F6F8FF;
    
    /* --- HEADER --- */
    --color-title: #141D2F;
    --color-theme-text: #4B6A9B;

    /* --- SEARCH BAR --- */
    --color-search-bg: #FFFFFF;
    --color-search-placeholder: #4B6A9B;
    
    /* --- PROFILE SECTION --- */
    --color-profile-bg: #FFFFFF;
    --color-profile-title: #2B3442;
    --color-profile-user: #0079FF;
    --color-stats-color: #F6F8FF;
    --color-profile-info: #4B6A9B;
    --color-profile-numbers: #2B3442;

    /*----- USER NO FOUND -----*/
    --color-message-title: #2B3442;
    --color-message-text: #697C9A;

    /* --- LINKS --- */
    --color-links: #4B6A9B;
}


/* --- DARK THEME --- */
[data-theme="dark"]{
    --color-bg: #141D2F;

    /* --- HEADER --- */
    --color-title: #FFFFFF;
    --color-theme-text: #90A4D4;

    /* --- SEARCH BAR --- */
    --color-search-bg: #1E2A47;
    --color-search-placeholder: #FFFFFF;

    /*----- USER NO FOUND -----*/
    --color-message-title: #ffffff;
    --color-message-text: #90A4D4;

    /* --- PROFILE SECTION --- */
    --color-profile-title: #FFFFFF;
    --color-profile-user: #60ABFF;
    --color-profile-info: #FFFFFF;
    --color-stats-color: #141D2F;
    --color-profile-numbers: #FFFFFF;

    /* --- LINKS --- */
    --color-links: #FFFFFF;
}

